/* Make the content area wider */
.wy-nav-content {
    max-width: 90%;  /* Adjust this percentage to make it wider */
}

/* Ensure images fit the content area */
img {
    max-width: 100%;
    height: auto;
}

.toctree-l1 {
    margin-bottom: 20px; /* Adjust the value to increase/decrease spacing */
}